langchain
langgraph
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq

sentence-transformers
transformers
torch

chromadb

python-dotenv
GitPython
tiktoken

streamlit

pypdf
pydantic
numpy
pandas

bandit
tree-sitter

httpx
requests
rich
tqdm

faiss-cpu
huggingface-hub